In [1]:
import pandas as pd 

es_futures = pd.read_csv("/Users/kennethzhang/Desktop/VolAuction/data/es_futures_1m_all.csv", parse_dates=True, index_col=0)
spx_spot = pd.read_csv("/Users/kennethzhang/Desktop/VolAuction/data/spx_spot_daily.csv", parse_dates=["date"])
atm_strike_map = pd.read_csv("/Users/kennethzhang/Desktop/VolAuction/data/atm_strike_map.csv", parse_dates=["date"])
auction_quotes = pd.read_parquet("/Users/kennethzhang/Desktop/VolAuction/data/auction_daily_quotes.parquet")

In [2]:
es_futures.index = pd.to_datetime(es_futures.index)
es_futures = es_futures.tz_convert("America/New_York")

In [3]:
es_futures

,Open,High,Low,Close,Volume,Dividends,Stock Splits,date
Datetime,,,,,,,,
2025-03-24 00:00:00-04:00,5754.00,5754.00,5752.75,5753.00,0,0.0,0.0,2025-03-24
2025-03-24 00:01:00-04:00,5753.00,5753.00,5752.75,5752.75,75,0.0,0.0,2025-03-24
2025-03-24 00:02:00-04:00,5753.00,5753.25,5752.75,5753.25,18,0.0,0.0,2025-03-24
2025-03-24 00:03:00-04:00,5753.00,5753.00,5752.50,5752.50,85,0.0,0.0,2025-03-24
2025-03-24 00:04:00-04:00,5752.50,5753.25,5752.50,5753.00,62,0.0,0.0,2025-03-24
...,...,...,...,...,...,...,...,...
2025-03-31 16:55:00-04:00,5645.75,5646.00,5645.00,5645.25,632,0.0,0.0,2025-03-31
2025-03-31 16:56:00-04:00,5645.25,5645.75,5644.25,5644.50,420,0.0,0.0,2025-03-31
2025-03-31 16:57:00-04:00,5644.50,5645.00,5644.00,5644.50,344,0.0,0.0,2025-03-31
2025-03-31 16:58:00-04:00,5644.50,5644.75,5644.00,5644.25,212,0.0,0.0,2025-03-31
2025-03-31 16:59:00-04:00,5644.00,5645.00,5644.00,5644.50,318,0.0,0.0,2025-03-31

In [4]:
spx_spot["date"] = pd.to_datetime(spx_spot["date"], utc=True).dt.tz_convert("America/New_York")

In [5]:
def ensure_et_timezone(df, col="date"):
    df[col] = pd.to_datetime(df[col], errors="coerce") 
    if pd.api.types.is_datetime64tz_dtype(df[col]):
        df[col] = df[col].dt.tz_convert("America/New_York")
    else:
        df[col] = df[col].dt.tz_localize("America/New_York")
    return df

In [6]:
spx_spot = ensure_et_timezone(spx_spot)
atm_strike_map = ensure_et_timezone(atm_strike_map)
auction_quotes = ensure_et_timezone(auction_quotes)

/var/folders/bc/0sv4l9h92yb5pz7_7vm4gh900000gn/T/ipykernel_51977/482004672.py:3: DeprecationWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if pd.api.types.is_datetime64tz_dtype(df[col]):
/var/folders/bc/0sv4l9h92yb5pz7_7vm4gh900000gn/T/ipykernel_51977/482004672.py:3: DeprecationWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if pd.api.types.is_datetime64tz_dtype(df[col]):
/var/folders/bc/0sv4l9h92yb5pz7_7vm4gh900000gn/T/ipykernel_51977/482004672.py:3: DeprecationWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if pd.api.types.is_datetime64tz_dtype(df[col]):

In [7]:
auction_quotes

,date,strike,call_mid,put_mid,call_bid,call_ask,put_bid,put_ask
0,2025-01-28 00:00:00-05:00,5930000,97.15,97.15,96.8,97.5,0.75,0.85
1,2025-01-29 00:00:00-05:00,5970000,90.40,90.40,90.0,90.8,0.95,1.00
2,2025-01-30 00:00:00-05:00,5990000,72.80,72.80,71.4,74.2,1.05,1.15
3,2025-01-31 00:00:00-05:00,1200000,4894.80,4894.80,4887.7,4901.9,0.00,0.05
4,2025-02-03 00:00:00-05:00,5835000,108.90,108.90,106.3,111.5,1.20,1.25
5,2025-02-04 00:00:00-05:00,5905000,92.95,92.95,90.8,95.1,1.25,1.30
6,2025-02-05 00:00:00-05:00,5945000,81.10,81.10,79.5,82.7,1.00,1.05
7,2025-02-06 00:00:00-05:00,6015000,64.10,64.10,61.1,67.1,0.85,0.95
8,2025-02-07 00:00:00-05:00,1400000,4686.05,4686.05,4678.1,4694.0,0.00,0.05
9,2025-02-10 00:00:00-05:00,5990000,70.45,70.45,70.2,70.7,1.05,1.10
10,2025-02-11 00:00:00-05:00,5995000,53.20,53.20,52.2,54.2,1.95,2.05
11,2025-02-12 00:00:00-05:00,5935000,78.70,78.70,75.5,81.9,1.25,1.30
12,2025-02-13 00:00:00-05:00,5985000,79.05,79.05,77.2,80.9,1.05,1.15
13,2025-02-14 00:00:00-05:00,1200000,4915.25,4915.25,4907.0,4923.5,0.00,0.05
14,2025-02-18 00:00:00-05:00,6045000,80.80,80.80,80.3,81.3,0.55,0.60
15,2025-02-19 00:00:00-05:00,6065000,51.45,51.45,51.2,51.7,1.20,1.30
16,2025-02-20 00:00:00-05:00,6085000,47.70,47.70,47.4,48.0,1.15,1.25
17,2025-02-21 00:00:00-05:00,200000,5914.50,5914.50,5907.2,5921.8,0.00,0.05
18,2025-02-24 00:00:00-05:00,5945000,91.35,91.35,88.8,93.9,0.95,1.10
19,2025-02-25 00:00:00-05:00,5880000,107.50,107.50,107.0,108.0,0.95,1.05
20,2025-02-26 00:00:00-05:00,5875000,100.30,100.30,97.8,102.8,0.85,0.95
21,2025-02-27 00:00:00-05:00,5870000,113.65,113.65,113.2,114.1,1.05,1.10
22,2025-02-28 00:00:00-05:00,1200000,4665.45,4665.45,4656.3,4674.6,0.00,0.05
23,2025-03-03 00:00:00-05:00,5850000,122.85,122.85,117.2,128.5,1.00,1.05
24,2025-03-04 00:00:00-05:00,5600000,208.30,208.30,197.6,219.0,0.60,0.70
25,2025-03-05 00:00:00-05:00,5595000,184.75,184.75,183.2,186.3,1.15,1.20
26,2025-03-06 00:00:00-05:00,5610000,154.50,154.50,152.7,156.3,0.95,1.05
27,2025-03-07 00:00:00-05:00,5515000,205.95,205.95,201.8,210.1,0.55,0.60
28,2025-03-10 00:00:00-04:00,5535000,151.45,151.45,149.3,153.6,1.10,1.15
29,2025-03-11 00:00:00-04:00,5420000,188.75,188.75,187.2,190.3,0.95,1.00
30,2025-03-12 00:00:00-04:00,5465000,161.60,161.60,159.3,163.9,1.15,1.25
31,2025-03-13 00:00:00-04:00,5455000,134.00,134.00,133.7,134.3,0.90,1.00
32,2025-03-14 00:00:00-04:00,5400000,172.15,172.15,171.5,172.8,0.40,0.50
33,2025-03-17 00:00:00-04:00,5525000,110.70,110.70,110.4,111.0,1.10,1.20
34,2025-03-18 00:00:00-04:00,5550000,102.35,102.35,102.0,102.7,0.90,0.95
35,2025-03-19 00:00:00-04:00,5510000,124.35,124.35,123.9,124.8,0.90,1.00
36,2025-03-20 00:00:00-04:00,5515000,122.55,122.55,122.1,123.0,0.95,1.00
37,2025-03-21 00:00:00-04:00,200000,5417.25,5417.25,5410.7,5423.8,0.00,0.05
38,2025-03-24 00:00:00-04:00,5625000,103.85,103.85,103.5,104.2,0.90,1.00
39,2025-03-25 00:00:00-04:00,5685000,92.60,92.60,92.3,92.9,0.55,0.60
40,2025-03-26 00:00:00-04:00,5710000,68.70,68.70,68.4,69.0,1.05,1.10
41,2025-03-27 00:00:00-04:00,5590000,102.20,102.20,101.9,102.5,0.95,1.00
42,2025-03-28 00:00:00-04:00,1200000,4478.25,4478.25,4467.3,4489.2,0.00,0.05
43,2025-03-31 00:00:00-04:00,1200000,4324.75,4324.75,4309.7,4339.8,0.00,0.10

In [8]:
spx_spot

,date,Open,Close,High,Low,Volume
0,2025-01-28 00:00:00-05:00,6026.970215,6067.700195,6074.540039,5994.629883,4473640000
1,2025-01-29 00:00:00-05:00,6057.700195,6039.310059,6062.830078,6012.959961,4115310000
2,2025-01-30 00:00:00-05:00,6050.750000,6071.169922,6086.640137,6027.459961,4634620000
3,2025-01-31 00:00:00-05:00,6096.790039,6040.529785,6120.910156,6030.930176,4843770000
4,2025-02-03 00:00:00-05:00,5969.649902,5994.569824,6022.129883,5923.930176,4797210000
5,2025-02-04 00:00:00-05:00,5998.140137,6037.879883,6042.479980,5990.870117,4410160000
6,2025-02-05 00:00:00-05:00,6020.450195,6061.479980,6062.859863,6007.060059,4756250000
7,2025-02-06 00:00:00-05:00,6072.220215,6083.569824,6084.029785,6046.830078,4847120000
8,2025-02-07 00:00:00-05:00,6083.129883,6025.990234,6101.279785,6019.959961,4766900000
9,2025-02-10 00:00:00-05:00,6046.399902,6066.439941,6073.379883,6044.839844,4458760000
10,2025-02-11 00:00:00-05:00,6049.319824,6068.500000,6076.279785,6042.339844,4324880000
11,2025-02-12 00:00:00-05:00,6025.080078,6051.970215,6063.000000,6003.000000,4627960000
12,2025-02-13 00:00:00-05:00,6060.589844,6115.069824,6116.910156,6050.950195,4763800000
13,2025-02-14 00:00:00-05:00,6115.520020,6114.629883,6127.470215,6107.620117,4335190000
14,2025-02-18 00:00:00-05:00,6121.600098,6129.580078,6129.629883,6099.509766,4684980000
15,2025-02-19 00:00:00-05:00,6117.759766,6144.149902,6147.430176,6111.149902,4562330000
16,2025-02-20 00:00:00-05:00,6134.500000,6117.520020,6134.500000,6084.589844,4813690000
17,2025-02-21 00:00:00-05:00,6114.100098,6013.129883,6114.819824,6008.560059,5434560000
18,2025-02-24 00:00:00-05:00,6026.689941,5983.250000,6043.649902,5977.830078,4990120000
19,2025-02-25 00:00:00-05:00,5982.729980,5955.250000,5992.649902,5908.490234,5374690000
20,2025-02-26 00:00:00-05:00,5970.870117,5956.060059,6009.819824,5932.689941,4869580000
21,2025-02-27 00:00:00-05:00,5981.879883,5861.569824,5993.689941,5858.779785,5057680000
22,2025-02-28 00:00:00-05:00,5856.740234,5954.500000,5959.399902,5837.660156,6441140000
23,2025-03-03 00:00:00-05:00,5968.330078,5849.720215,5986.089844,5810.910156,5613850000
24,2025-03-04 00:00:00-05:00,5811.979980,5778.149902,5865.080078,5732.589844,6138110000
25,2025-03-05 00:00:00-05:00,5781.359863,5842.629883,5860.589844,5742.350098,5285970000
26,2025-03-06 00:00:00-05:00,5785.870117,5738.520020,5812.080078,5711.640137,5165080000
27,2025-03-07 00:00:00-05:00,5726.009766,5770.200195,5783.009766,5666.290039,5705140000
28,2025-03-10 00:00:00-04:00,5705.370117,5614.560059,5705.370117,5564.020020,6409370000
29,2025-03-11 00:00:00-04:00,5603.649902,5572.069824,5636.299805,5528.410156,6221240000
30,2025-03-12 00:00:00-04:00,5624.839844,5599.299805,5642.189941,5546.089844,5219830000
31,2025-03-13 00:00:00-04:00,5594.450195,5521.520020,5597.779785,5504.649902,5018980000
32,2025-03-14 00:00:00-04:00,5563.850098,5638.939941,5645.270020,5563.850098,4863180000
33,2025-03-17 00:00:00-04:00,5635.600098,5675.120117,5703.520020,5631.120117,5031770000
34,2025-03-18 00:00:00-04:00,5654.529785,5614.660156,5654.529785,5597.759766,4666270000
35,2025-03-19 00:00:00-04:00,5632.370117,5675.290039,5715.330078,5622.200195,4660090000
36,2025-03-20 00:00:00-04:00,5646.919922,5662.890137,5711.149902,5632.330078,4678420000
37,2025-03-21 00:00:00-04:00,5630.729980,5667.560059,5670.839844,5603.100098,9367460000
38,2025-03-24 00:00:00-04:00,5718.080078,5767.569824,5775.140137,5718.080078,4517990000
39,2025-03-25 00:00:00-04:00,5775.959961,5776.649902,5786.950195,5760.419922,4467340000
40,2025-03-26 00:00:00-04:00,5771.660156,5712.200195,5783.620117,5694.410156,4183140000
41,2025-03-27 00:00:00-04:00,5695.640137,5693.310059,5732.279785,5670.939941,4403460000
42,2025-03-28 00:00:00-04:00,5679.200195,5580.939941,5685.890137,5572.419922,4513330000

In [11]:
atm_strike_map.to_csv("/Users/kennethzhang/Desktop/VolAuction/data/atm_strike_map.csv")

In [10]:
import numpy as np

overnight_results = []

for auction_day in auction_quotes["date"]:
    auction_day = pd.Timestamp(auction_day)
    t_minus_1 = auction_day - pd.Timedelta(days=1)

    spx_before = spx_spot[spx_spot["date"] < auction_day]
    spx_close_t_minus_1 = spx_before.iloc[-1]["Close"] if not spx_before.empty else None

    t1_str = t_minus_1.strftime("%Y-%m-%d")
    t_str = auction_day.strftime("%Y-%m-%d")
    es_start = pd.Timestamp(f"{t1_str} 18:00", tz="America/New_York")
    es_end = pd.Timestamp(f"{t_str} 09:30", tz="America/New_York")

    es_data = es_futures.loc[(es_futures.index >= es_start) & (es_futures.index <= es_end)]

    log_returns = (es_data["Close"] / es_data["Close"].shift(1)).apply(np.log).dropna()
    realized_std = log_returns.std() * np.sqrt(len(log_returns))  

    overnight_results.append({
        "date": auction_day,
        "spx_close_t_minus_1": spx_close_t_minus_1,
        "realized_std": realized_std,
        "n_ticks": len(log_returns)
    })

overnight_df = pd.DataFrame(overnight_results)