In [1]:
import yfinance as yf 
import pandas as pd 
import os 
from datetime import datetime

In [2]:
data_base_path = "/Users/kennethzhang/Desktop/VolAuction/data"
auction_quotes = pd.read_parquet(data_base_path + "/auction_daily_quotes.parquet")
auction_dates = pd.to_datetime(auction_quotes["date"]).dt.tz_localize(None)

In [3]:
es_futures_df = pd.read_csv(data_base_path + "/es_futures_1m_all.csv", parse_dates=True, index_col=0)
es_futures_df.index = pd.to_datetime(es_futures_df.index)
es_futures_df.index = es_futures_df.index.tz_convert("America/New_York")

In [4]:
es_futures_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,date
Datetime,,,,,,,,
2025-03-24 00:00:00-04:00,5754.00,5754.00,5752.75,5753.00,0,0.0,0.0,2025-03-24
2025-03-24 00:01:00-04:00,5753.00,5753.00,5752.75,5752.75,75,0.0,0.0,2025-03-24
2025-03-24 00:02:00-04:00,5753.00,5753.25,5752.75,5753.25,18,0.0,0.0,2025-03-24
2025-03-24 00:03:00-04:00,5753.00,5753.00,5752.50,5752.50,85,0.0,0.0,2025-03-24
2025-03-24 00:04:00-04:00,5752.50,5753.25,5752.50,5753.00,62,0.0,0.0,2025-03-24
...,...,...,...,...,...,...,...,...
2025-03-31 16:55:00-04:00,5645.75,5646.00,5645.00,5645.25,632,0.0,0.0,2025-03-31
2025-03-31 16:56:00-04:00,5645.25,5645.75,5644.25,5644.50,420,0.0,0.0,2025-03-31
2025-03-31 16:57:00-04:00,5644.50,5645.00,5644.00,5644.50,344,0.0,0.0,2025-03-31
2025-03-31 16:58:00-04:00,5644.50,5644.75,5644.00,5644.25,212,0.0,0.0,2025-03-31
2025-03-31 16:59:00-04:00,5644.00,5645.00,5644.00,5644.50,318,0.0,0.0,2025-03-31

In [5]:
def get_es_slice(auction_date):
    t_minus_1 = auction_date - pd.Timedelta(days=1)
    start = pd.Timestamp(f"{t_minus_1.date()} 16:00", tz="America/New_York")
    end = pd.Timestamp(f"{auction_date.date()} 09:30", tz="America/New_York")
    return es_futures_df.loc[(es_futures_df.index >= start) & (es_futures_df.index <= end)].copy()

In [6]:
test_date = pd.Timestamp('2025-03-25', tz="America/New_York")
es_window = get_es_slice(test_date)

In [7]:
es_window

,Open,High,Low,Close,Volume,Dividends,Stock Splits,date
Datetime,,,,,,,,
2025-03-24 16:00:00-04:00,5813.25,5818.00,5813.25,5816.00,20905,0.0,0.0,2025-03-24
2025-03-24 16:01:00-04:00,5816.00,5817.00,5815.50,5815.75,4711,0.0,0.0,2025-03-24
2025-03-24 16:02:00-04:00,5815.75,5816.25,5814.75,5815.00,2763,0.0,0.0,2025-03-24
2025-03-24 16:03:00-04:00,5814.75,5815.75,5814.75,5815.00,2416,0.0,0.0,2025-03-24
2025-03-24 16:04:00-04:00,5815.00,5815.50,5814.50,5814.75,1171,0.0,0.0,2025-03-24
...,...,...,...,...,...,...,...,...
2025-03-25 09:26:00-04:00,5830.75,5831.00,5830.25,5830.50,365,0.0,0.0,2025-03-25
2025-03-25 09:27:00-04:00,5830.50,5831.00,5829.00,5829.50,1025,0.0,0.0,2025-03-25
2025-03-25 09:28:00-04:00,5829.00,5829.25,5824.75,5825.00,2801,0.0,0.0,2025-03-25
2025-03-25 09:29:00-04:00,5824.75,5826.50,5823.50,5826.00,3054,0.0,0.0,2025-03-25
2025-03-25 09:30:00-04:00,5826.00,5829.50,5825.50,5828.25,8066,0.0,0.0,2025-03-25